.album-cover {
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.album-songs {
    padding: 0 0 0 20px;
    height: 120px;
    overflow: auto;
}

.likes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.likes div {
    display: flex;
    gap: 15px;
}

.likes div i {
    cursor: pointer;
}

.thumbs-up {
    color: rgb(0, 255, 0);
}

.thumbs-down {
    color: rgb(255, 52, 52);
}